.screen {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 125px;
  padding-right: 125px;
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 61px;
}

.header a {
  color: black;
  text-decoration: none;
}

.header__title {
  font-size: 20px;
}

.header__navigation--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  gap: 29px;
  font-size: 18px;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  width: 100%;
  gap: 140px;
}

.section1__textcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 39px;
  width: 100%;
  max-width: 635px;
}

.section1__table {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.imagepart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 45px;
  margin-top: 61px;
}

.imagepart__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 700px;
  overflow: hidden;
}

.imagepart__image img {
  width: 100%;
}

.projectgallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  margin-top: 45px;
  width: 100%;
  overflow: hidden;
}

.projectgallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.projectgallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.projectgallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 61px;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer__title {
  font-size: 20px;
}

.footer__navigation {
  margin-left: 500px;
}

.footer__navigation--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  gap: 29px;
  font-size: 18px;
}

.projtable {
  width: 332px;
  font-size: 18px;
}
.projtable__left {
  opacity: 50%;
}

.projtable tr {
  height: 42px;
}

.projtable td {
  border-bottom: 1px solid;
}

.hometable {
  width: 100%;
  height: 823px;
  margin-top: 100px;
}
.hometable__first {
  width: 450px;
}
.hometable__third {
  opacity: 50%;
  width: 200px;
}
.hometable__fourth {
  opacity: 50%;
  width: 200px;
  text-align: right;
}